{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "relay",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
