.form__search {
  width: 50%;
  padding: 1rem 0;
  justify-content: space-around;
}


.form__search input {
  flex-grow: 2;
  margin: 10px;
}

.form__search button,
.form__search input[type="submit"], {
  flex-grow: 1;

}
