@charset 'utf-8';

body {
  background-color: #fff;
  font: 16px/1.2 BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  }
  @media (min-width: 1px) {
    body {
      max-width: none;
    }
  }
  /* container */
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  @media (min-width: 550px) {
    .container {
      padding-right: 25px;
      padding-left: 25px;
    }
  }

  @media (min-width: 750px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }

  @media (min-width: 1000px) {
    .container {
      padding-right: 40px;
      padding-left: 40px;
      max-width: 1280px; /* 1200 sem o padding */
    }
  }

  @media(min-width: 1280px){ /* fixa tamanho */
    .container {
      padding-right: 0;
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
    }
  }
